include ./mixins.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src='/js/dropdowns.js')
  body
    main
      .app-container
        nav
          if context == '0'
            .nav-container
              img(src='/images/acclaro.png' height="50")
              ul
                li
                  a(href="/" data-nav) Home
                li
                  a(href="/categories" data-nav) Categories
                select.ddenv
                select.ddloc

        #content.content-container
          block content
